<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-item">
                <h4>Contact Information</h4>
                <p><i class="fas fa-envelope"></i> <strong>Email:</strong> boshiwehadebe &#64;gmail.com</p>
                <p><i class="fas fa-map-marker-alt"></i> <strong>Location:</strong> South Africa</p>
            </div>
            <div class="footer-item">
                <h4>Follow Me</h4>
                <ul class="list-unstyled">
                    <li><a href="https://www.linkedin.com/in/ayanda-b-hadebe-557699125" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                    <li><a href="https://github.com/AB-Hadebe" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
                </ul>
            </div>
            <div class="footer-item text-center">
                <h4>© 2024 Ayanda Hadebe</h4>
            </div>
        </div>
    </div>
</footer>
