<section id="experience" class="section experience">
    <h2>Experience</h2>
    <div class="experience-item">
        <h3>Educational Assistant (E-cadre)</h3>
        <p>Thabang Primary School, Bethlehem | Free State</p>
        <p>[Feb 2023] - [Aug 2023]</p>
        <ul class="section-list">
            <li>Typed school letters, activities, usage of Microsoft Office and emails.</li>
            <li>Knowledge in usage of a photocopy machine, printer, laminator.</li>
            <li>Filed and organized required files in the office.</li>
        </ul>
    </div>
</section>
