<section id="experience" class="section experience">
    <h2>Experience</h2>
    <div class="experience-item">

        <h3>Educational Assistant</h3>
        <p>Thabang Primary School Bethlehem |
            Free State</p>
        <p>[Feb 2023] - [Aug 2023]</p>
        <ul class="section-list">
            <li>Maintained filing systems, databases, and information
                systems.</li>
            <li>Prepared agendas and other written correspondences.</li>
            <li>Knowledge in usage of a photocopy machine, printer,
                laminator.</li>
            <li>Set up video conference calls with remote employees.</li>
        </ul>

        <h3>Software Developer Intern</h3>
        <p>PDQ Tech Headquarters Pretoria |Menlyn</p>

        <p>[Dec 2023] – [Nov 2024]</p>
        <ul class="section-list">
            <li>Developed and tested web applications using Angular and
                JavaScript.</li>
            <li>Optimized code and debugged issues alongside senior
                developers.</li>
            <li>Created and maintained SQL queries to retrieve and
                manipulate data.</li>
            <li>Managed tasks and tracked project progress using Jira.</li>
            <li>Participated in daily stand-up meetings and contributed to
                team discussions on project progress.</li>
            <li>Developed reusable components for front-end systems using
                HTML, CSS, TypeScript and JavaScript.</li>
        </ul>
    </div>
</section>