.background {
  padding: 100px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}


.background h2 {
  font-size: 2rem;
  color: #333;
  text-align: center;
}

.education h3{
  margin-top: 20px;
  color: #c9588d;
  margin-bottom: 10px;
  font-size: 20px;
  padding-left: 20px;
}

.education-item {
  margin-bottom: 20px;
  padding-left: 60px;
}

.education-item h4::before {
  content: "• "; /* Unicode for a bullet point */
  color: #dd4e9d;   /* Set the color of the bullet */
  font-size: 1.2em; /* Optional: adjust size if necessary */
  margin-right: 8px; /* Adds space between bullet and text */
}
