<div class="skills">
    <h2>Skills</h2>
    <div class="skills-container">
        <div class="technical-skills">
            <h3>Technical Skills</h3>
            <ul class="skills-list">
                <li><strong>Programming Languages:</strong> C++, SQL, PL/SQL (Procedural Language/SQL) in Oracle Database, TypeScript/JavaScript</li>
                <li><strong>Web Technologies:</strong> Angular, HTML</li>
                <li><strong>Operating Systems:</strong> Fundamentals of Ubuntu Linux</li>
                <li><strong>Software & Tools:</strong> Proficient in MS Office, JIRA</li>
                <li><strong>Systems Analysis and Design:</strong> Understanding of software development life cycle (SDLC), UML (Unified Modeling Language), Requirements gathering and analysis</li>
                <li><strong>Project Management:</strong> Familiarity with project management methodologies (Agile, Waterfall)</li>
            </ul>
        </div>
        <div class="soft-skills">
            <h3>Soft Skills</h3>
            <ul class="skills-list">
                <li>Attention to Detail: Meticulously ensure precision in coding practices.</li>
                <li>Good Communication Skills: Can explain tasks or projects to others and ensure regular communication to promote team collaboration and maintain pace.</li>
                <li>Result-Driven: Consistently achieve project milestones and objectives, optimizing processes to deliver impactful outcomes on time.</li>
                <li>Team Player: Collaborate proactively within cross-functional teams.</li>
                <li>Organized: Utilize structured approaches and tools for efficient task prioritization, ensuring smooth workflow and timely completion.</li>
            </ul>
        </div>
    </div>
</div>
