<section class="p-wrapper">
    <!-- HEADER -->
    <app-header></app-header>
    <!-- ROUTER -->
    <router-outlet></router-outlet>
    <section id="home">
        <app-home></app-home>
    </section>
    <section id="about-me">
        <app-about-me></app-about-me>
    </section>
    <section id="background">
        <app-background></app-background>
    </section>
    <section id="skills">
        <app-skills></app-skills>
    </section>
    <section id="experience">
        <app-experience></app-experience>
    </section>
    <section id="contacts">
        <app-contacts></app-contacts>
    </section>
</section>